h1 {
  text-align: center;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
}
.marker {
  height: 25px;
  width: 200px;
  margin: 10px auto;
}

/* linear-gradient(gradientDirection (default: 180deg), color1, color2, ...);*/

/* with rgb() */
.red {
  background: linear-gradient(
    rgb(122, 74, 14),
    rgb(245, 62, 113),
    rgb(162, 27, 27)
  );
}
/* with hex */

.green {
  background: linear-gradient(#55680d, #71f53e, #116c31);
}

/* hsl function =>
    hue(0-360 degrees of wheel),
    saturation(0-100),
    lightness(0-100) */
.blue {
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
}
